.icon {
    max-height: 40px;
    max-width: 40px;
}

.icon.small {
    max-height: 24px;
    max-width: 24px;
}

.icon.medium {
    max-height: 33px;
    max-width: 33px;
}

.icon.large {
    max-height: 40px;
    max-width: 40px;
}

.mimeTypeIcon {
    max-height: 20px;
    max-width: 20px;
}

.mimeTypeIcon.medium {
    max-height: 15px;
    max-width: 15px;
}

.iconWrapper.small {
    width: 24px;
}

.iconWrapper.medium {
    width: 30px;
}
